  
<h1> MEASUREMENTS </h1>

<% @measurements.each do |measurement| %>
  <div class="measurement">
    <%= measurement.id %>
    <%= measurement.created_at.strftime("%m/%d/%Y %Hh-%M") %>
    <%= image_tag measurement.photo %>
    <%= image_tag measurement.processed_photo %>
  </div>
<% end %>